.carousel-item {
    height: 350px;
  }
  
  .carousel-height {
    height: 300px;
  }
  
  .userProfile {
    font-size: 82px;
  }
  
  .textHPage {
    margin-left: 24px;
  }
  
  .cards {
    background-color: #40e0d0;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 8px;
    font-size: larger;
    text-align: center;
  }
  .problem {
      color: #000000;
  }
  .display-grid {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-row: auto;
    font-size: 14px;
  }
  
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    color: lightgray;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
  }
  