.title {
    font-size: 40px;
  }
  
.banner {
  height: 150px;
  width: 100%;
  position: relative;
  padding: 10px;
  padding-top: 30px;
}

.banner-text {
  position: absolute;
  bottom: 0;
}

.title-form {
  font-size: 22px;
}

.divider {
  border: 1px solid lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.curhat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 12px;
}

input[type="radio"] {
  margin-left: 8px;
}
  

.font-size32 {
  font-size: 32px;
}

.row {
  padding: 12px 64px;
}

.margin-x16 {
  margin: 0 16px;
}

.circle-green {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chat {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#myInput {
  width: 100%;
}

.chat > .d-flex > i {
  margin: 16px;
}